In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Data Hotel

In [2]:
data = pd.read_excel('data_hotel.xlsx')
data

,hotel_id,hotel_name,hotel_description,hotel_province,hotel_city,hotel_address,price_per_night
0,h0001,Midtown Residence Marvell City Surabaya,NaN,Jawa Timur,Surabaya,Jalan Ngagel Raya No 123,527866.666667
1,h0002,favehotel Graha Agung Surabaya,Sebuah Hotel Mewah di Surabaya Persembahan dar...,Jawa Timur,Surabaya,Jl. Mayjen Yono Soewoyo Pakuwon Indah Square A...,442860.000000
2,h0003,The Sun Hotel Sidoarjo,Hotel Bintang 3 Pertama dan Satu-satunya di Si...,Jawa Timur,Surabaya,"Jl. Pahlawan No.1,Sidokumpul, Sidoarjo, Suraba...",305000.000000
3,h0004,Grand Surabaya Hotel,Penginapan Yang Tenang Dan Nyaman Di Surabaya.,Jawa Timur,Surabaya,"Jl. Pemuda 19-21, Surabaya, Indonesia",324999.333333
4,h0005,The WIN Hotel Surabaya,WIN Hotel adalah hotel smart bintang 3 yang me...,Jawa Timur,Surabaya,"Jl. Embong Tanjung 46 - 48 Surabaya, Jawa Timu...",310947.250000
...,...,...,...,...,...,...,...
1194,h1195,Restu Hotel Yogyakarta,Akomodasi yang nyaman dan modern di Yogyakarta...,Daerah Istimewa Yogyakarta,Jogja,"Jl. Batikan No. 7, Pandeyan, Kec. Umbulharjo, ...",150000.000000
1195,h1196,Oryza Hotel Malioboro,Ideal accommodation options in the Malioboro a...,Daerah Istimewa Yogyakarta,Jogja,"Sosrowijayan St No.49-51, Sosromenduran, Gedon...",180000.000000
1196,h1197,Hotel Asri Graha Yogyakarta,"Pilihan akomodasi yang ideal untuk Pasangan, B...",Daerah Istimewa Yogyakarta,Jogja,"Jl. Veteran No. 184 A, Umbulharjo, Yogyakarta,...",262500.000000
1197,h1198,Tasneem Convention Hotel Yogyakarta,"Pilihan akomodasi yang ideal untuk Pasangan, B...",Daerah Istimewa Yogyakarta,Jogja,"Kawasan Mandira Baruga, Jl. Brigjen Katamso, K...",391666.666667
1198,h1199,Pesonna Hotel Tugu Yogyakarta,Penginapan Yang Tenang Dan Nyaman di dekat Tug...,Daerah Istimewa Yogyakarta,Jogja,"Jl. Diponegoro No.99, Bumijo, Jetis, Yogyakart...",338074.666667

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1199 entries, 0 to 1198
Data columns (total 7 columns):
hotel_id             1199 non-null object
hotel_name           1199 non-null object
hotel_description    1098 non-null object
hotel_province       1199 non-null object
hotel_city           1199 non-null object
hotel_address        1199 non-null object
price_per_night      1193 non-null float64
dtypes: float64(1), object(6)
memory usage: 65.7+ KB

there is null value for hotel_description and price, but hotel_description are useless for the model, so I will replace null value with no_info, I will try to fill null values in column price by forward filling

In [4]:
data['hotel_description'] = data['hotel_description'].fillna('tidak ada deskripsi')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1199 entries, 0 to 1198
Data columns (total 7 columns):
hotel_id             1199 non-null object
hotel_name           1199 non-null object
hotel_description    1199 non-null object
hotel_province       1199 non-null object
hotel_city           1199 non-null object
hotel_address        1199 non-null object
price_per_night      1193 non-null float64
dtypes: float64(1), object(6)
memory usage: 65.7+ KB

In [5]:
data[data['price_per_night'].isnull()]

,hotel_id,hotel_name,hotel_description,hotel_province,hotel_city,hotel_address,price_per_night
123,h0124,OYO 886 Omahku Asri Syariah,tidak ada deskripsi,Jawa Timur,Malang,Jl. Danau Matana F3 A5,NaN
124,h0125,OYO 3712 Hotel Palem Sari,tidak ada deskripsi,Jawa Timur,Malang,"Jalan Raya Punten 02, Kecamatan. Bumiaji",NaN
383,h0384,OYO 1185 Bukit Toedjoeh Residence Syariah,tidak ada deskripsi,Sumatra Utara,Medan,"Jl. Bukit Barisan I No.7, Glugur Darat II, Kec...",NaN
389,h0390,OYO 597 Joyce Guest House,tidak ada deskripsi,Sumatra Utara,Medan,Jalan Bunga Wijaya Kusuma no 62 padang bulan s...,NaN
392,h0393,OYO 1274 Prime Inn,tidak ada deskripsi,Sumatra Utara,Medan,"Jl. Waru No.65, Sekip, Medan Petisah, Kota Med...",NaN
436,h0437,OYO 711 Salam Residence Syariah,tidak ada deskripsi,Sumatra Utara,Medan,"Jl. Ringroad No.92, Sei Sikambing B, Medan Sun...",NaN

In [6]:
data.fillna(method='ffill',axis=0,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1199 entries, 0 to 1198
Data columns (total 7 columns):
hotel_id             1199 non-null object
hotel_name           1199 non-null object
hotel_description    1199 non-null object
hotel_province       1199 non-null object
hotel_city           1199 non-null object
hotel_address        1199 non-null object
price_per_night      1199 non-null float64
dtypes: float64(1), object(6)
memory usage: 65.7+ KB

## Review Hotel

In [7]:
review = pd.read_excel('review_hotel.xlsx')
review

,booking_id,booking_date,hotel_id,hotel_name,stay_duration,adults,children,rating,review
0,b0001,19-04-2020,h0014,Zest Hotel Jemursari Surabaya,1,2,1,8.4,Short stay
1,b0002,06-04-2020,h0014,Zest Hotel Jemursari Surabaya,1,1,1,10.0,Hotelnya nyaman
2,b0003,24-03-2020,h0014,Zest Hotel Jemursari Surabaya,2,2,1,9.2,Cukup baik untuk transit
3,b0004,23-03-2020,h0014,Zest Hotel Jemursari Surabaya,1,2,0,9.2,Nyaman
4,b0005,14-03-2020,h0014,Zest Hotel Jemursari Surabaya,2,2,1,6.8,Not good
...,...,...,...,...,...,...,...,...,...
4301,b4302,10-08-2019,h0791,The Luxton Bandung,1,2,2,3.6,Hotel kurang perawatan dan membosankan
4302,b4303,25-07-2019,h0791,The Luxton Bandung,2,2,2,6.8,Kurang perawatan
4303,b4304,08-07-2019,h0791,The Luxton Bandung,2,2,2,10.0,Mantul
4304,b4305,15-04-2019,h0791,The Luxton Bandung,3,2,2,3.6,Kecewa
4305,b4306,09-04-2019,h0791,The Luxton Bandung,2,1,1,8.8,Semoga lebih baik dan sukses

In [8]:
review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4306 entries, 0 to 4305
Data columns (total 9 columns):
booking_id       4306 non-null object
booking_date     4306 non-null object
hotel_id         3833 non-null object
hotel_name       4306 non-null object
stay_duration    4306 non-null int64
adults           4306 non-null int64
children         4306 non-null int64
rating           4306 non-null float64
review           4306 non-null object
dtypes: float64(1), int64(3), object(5)
memory usage: 302.9+ KB

In [9]:
review[review['hotel_id'].isnull()]

,booking_id,booking_date,hotel_id,hotel_name,stay_duration,adults,children,rating,review
30,b0031,28-05-2020,NaN,Grand Dafam Signature Surabaya,1,1,0,10.0,Semuanya membuat nyaman
31,b0032,27-05-2020,NaN,Grand Dafam Signature Surabaya,2,2,0,8.4,Hotel strategis di pusat kota
32,b0033,09-04-2020,NaN,Grand Dafam Signature Surabaya,1,2,0,10.0,Hotel yang sangat bagus
33,b0034,26-03-2020,NaN,Grand Dafam Signature Surabaya,2,2,1,9.2,2 malam yg menyenangkan
34,b0035,08-03-2020,NaN,Grand Dafam Signature Surabaya,2,2,0,10.0,Hotel yang menyenangkan
...,...,...,...,...,...,...,...,...,...
2626,b2627,10-10-2017,NaN,Pullman Jakarta Indonesia,2,2,0,10.0,Memuaskan
2627,b2628,17-02-2020,NaN,Mercure Jakarta Pantai Indah Kapuk,2,2,2,9.2,Great customer service
2628,b2629,10-01-2020,NaN,Mercure Jakarta Pantai Indah Kapuk,1,1,0,9.6,Hotel yang terletak 1 gedung dengan mall pik a...
2629,b2630,06-11-2019,NaN,Mercure Jakarta Pantai Indah Kapuk,3,1,1,9.2,Dekat dengan mall jadi mudah untuk makan atau ...
2630,b2631,11-07-2019,NaN,Mercure Jakarta Pantai Indah Kapuk,1,2,0,9.6,Nice stay at mercure pik

In [10]:
review.dropna(inplace=True)
review.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3833 entries, 0 to 4305
Data columns (total 9 columns):
booking_id       3833 non-null object
booking_date     3833 non-null object
hotel_id         3833 non-null object
hotel_name       3833 non-null object
stay_duration    3833 non-null int64
adults           3833 non-null int64
children         3833 non-null int64
rating           3833 non-null float64
review           3833 non-null object
dtypes: float64(1), int64(3), object(5)
memory usage: 299.5+ KB

In [11]:
#pivot table
review_piv = review.pivot_table(index='hotel_id', aggfunc={'stay_duration':'mean','adults':'mean','children':'mean','rating':['mean','count']})
review_piv.head()

         adults children rating       stay_duration
           mean     mean  count  mean          mean
hotel_id
h0001       1.6      0.4      5  9.20           1.4
h0002       1.3      0.5     10  8.32           1.3
h0003       1.6      0.4     10  8.76           1.6
h0004       1.5      0.5     10  8.52           1.3
h0005       1.6      0.3     10  8.04           1.4

In [12]:
#rename
review_piv.columns = ['adults','children','rating_count','rating_mean','stay_duration']
review_piv.head()

          adults  children  rating_count  rating_mean  stay_duration
hotel_id
h0001        1.6       0.4             5         9.20            1.4
h0002        1.3       0.5            10         8.32            1.3
h0003        1.6       0.4            10         8.76            1.6
h0004        1.5       0.5            10         8.52            1.3
h0005        1.6       0.3            10         8.04            1.4

In [13]:
#merge file
hotel = pd.merge(data,review_piv, on='hotel_id',how='inner')
hotel.head()

,hotel_id,hotel_name,hotel_description,hotel_province,hotel_city,hotel_address,price_per_night,adults,children,rating_count,rating_mean,stay_duration
0,h0001,Midtown Residence Marvell City Surabaya,tidak ada deskripsi,Jawa Timur,Surabaya,Jalan Ngagel Raya No 123,527866.666667,1.6,0.4,5,9.20,1.4
1,h0002,favehotel Graha Agung Surabaya,Sebuah Hotel Mewah di Surabaya Persembahan dar...,Jawa Timur,Surabaya,Jl. Mayjen Yono Soewoyo Pakuwon Indah Square A...,442860.000000,1.3,0.5,10,8.32,1.3
2,h0003,The Sun Hotel Sidoarjo,Hotel Bintang 3 Pertama dan Satu-satunya di Si...,Jawa Timur,Surabaya,"Jl. Pahlawan No.1,Sidokumpul, Sidoarjo, Suraba...",305000.000000,1.6,0.4,10,8.76,1.6
3,h0004,Grand Surabaya Hotel,Penginapan Yang Tenang Dan Nyaman Di Surabaya.,Jawa Timur,Surabaya,"Jl. Pemuda 19-21, Surabaya, Indonesia",324999.333333,1.5,0.5,10,8.52,1.3
4,h0005,The WIN Hotel Surabaya,WIN Hotel adalah hotel smart bintang 3 yang me...,Jawa Timur,Surabaya,"Jl. Embong Tanjung 46 - 48 Surabaya, Jawa Timu...",310947.250000,1.6,0.3,10,8.04,1.4

# Build Model Simple Recomender

__Weighted Recomender__

$$\displaystyle WR = \frac {v}{v+m} \cdot R + \frac {m}{v+m} \cdot C$$

where :

$v$ : vote count

$m$ : minimum vote require

$R$ : rating mean each hotel

$C$ : all hotel rating

In [18]:
# mean for all rating
c = hotel['rating_mean'].mean()
c

8.371491985683155

In [19]:
hotel['rating_count'].unique()

array([ 5, 10,  4,  1,  2,  9,  3,  7,  6,  8, 20, 16], dtype=int64)

In [20]:
# minimmum vote requerment 80% population
m = hotel['rating_count'].quantile(.8)
m

10.0

In [21]:
# Weighted Rating function for each hotel
# create column score for each hotel
def weight_rating(df,var):
    v = df['rating_count']
    R = df['rating_mean']
    C = df['rating_mean'].mean()
    m = df['rating_count'].quantile(var)
    df['score'] = (v/(m+v))*R + (m/(m+v))*C 
    return df['score']
weight_rating(hotel,.8)
hotel.head()

,hotel_id,hotel_name,hotel_description,hotel_province,hotel_city,hotel_address,price_per_night,adults,children,rating_count,rating_mean,stay_duration,score
0,h0001,Midtown Residence Marvell City Surabaya,tidak ada deskripsi,Jawa Timur,Surabaya,Jalan Ngagel Raya No 123,527866.666667,1.6,0.4,5,9.20,1.4,8.647661
1,h0002,favehotel Graha Agung Surabaya,Sebuah Hotel Mewah di Surabaya Persembahan dar...,Jawa Timur,Surabaya,Jl. Mayjen Yono Soewoyo Pakuwon Indah Square A...,442860.000000,1.3,0.5,10,8.32,1.3,8.345746
2,h0003,The Sun Hotel Sidoarjo,Hotel Bintang 3 Pertama dan Satu-satunya di Si...,Jawa Timur,Surabaya,"Jl. Pahlawan No.1,Sidokumpul, Sidoarjo, Suraba...",305000.000000,1.6,0.4,10,8.76,1.6,8.565746
3,h0004,Grand Surabaya Hotel,Penginapan Yang Tenang Dan Nyaman Di Surabaya.,Jawa Timur,Surabaya,"Jl. Pemuda 19-21, Surabaya, Indonesia",324999.333333,1.5,0.5,10,8.52,1.3,8.445746
4,h0005,The WIN Hotel Surabaya,WIN Hotel adalah hotel smart bintang 3 yang me...,Jawa Timur,Surabaya,"Jl. Embong Tanjung 46 - 48 Surabaya, Jawa Timu...",310947.250000,1.6,0.3,10,8.04,1.4,8.205746

In [26]:
hotel['hotel_city'].unique()

array(['Surabaya', 'Malang', 'Solo', 'Semarang', 'Medan', 'Jakarta',
       'Jakarta Barat', 'Jakarta Selatan', 'Jakarta Pusat',
       'Jakarta Utara', 'Bandung'], dtype=object)

__Case 1__
- Search berdasarkan kota 
- Tentukan maksimum harga
- urutkan berdasarkan score tertinggi

In [40]:
def recomend():
    kota = input('Kota : ').capitalize()
    max_price = int(input('Harga Maksimal : '))
    df = hotel[(hotel['hotel_city']==kota) & (hotel['price_per_night'] <= max_price)]
    df = df.sort_values(by='score', ascending = False).head()
    return df

recomend()

Kota : semarang
Harga Maksimal : 200000

,hotel_id,hotel_name,hotel_description,hotel_province,hotel_city,hotel_address,price_per_night,adults,children,rating_count,rating_mean,stay_duration,score
79,h0270,Smart Budget Hotel,Penginapan Yang Tenang Dan Nyaman di Semarang,Jawa Tengah,Semarang,"Jl. Hasanudin Raya (Tanah Mas), Semarang Utara...",200000.0,1.500000,0.500000,10,8.56,1.700000,8.465746
86,h0333,Red Orchid Simpang Lima,Pilihan akomodasi yang ideal untuk Pasangan at...,Jawa Tengah,Semarang,"Jl. Anggrek V N0. 21-23, Simpang Lima, Semaran...",183940.0,1.666667,0.333333,3,8.40,1.666667,8.378071
84,h0278,The Bandungan Hotel And Convention,Hotel nyaman di Bandungan Kab. Semarang,Jawa Tengah,Semarang,"Duren Bandungan, Ambarawa, Jawa Tengah",200000.0,1.200000,0.300000,10,8.16,1.800000,8.265746

__Case 2__
- Servis: Family Room
- Provinsi: Jawa Timur
- Kota: Surabaya
- Lokasi: any
- Diurutkan berdasarkan harga terendah dan rating terbaik

In [36]:
#  assume that family room is hotel with children not 0
def search_hotel(family,city,location):
    # chechk for family room
    if family.lower() == 'yes':
        df = hotel[hotel.children != 0]
    else :
        df = hotel
    # city
    if city.lower() != 'all':
        df = df[df['hotel_city'].str.lower() == city.lower()]
    else :
        df = df
    # cek location
    if location.lower() == 'all':
        df = df
    else:
        def filter_location(x):
            if location.lower() in str(x).lower():
                return True
            else:
                return False
        df = df.loc[df['hotel_address'].str.split().apply(lambda x: filter_location(x))]
    df = df[df['rating_count'] >= m]
    df = df.sort_values(by=['score'], ascending=False)
    df = df.head()
    return df

In [37]:
search_hotel(family='yes',city='surabaya',location='all').sort_values(by='price_per_night')

,hotel_id,hotel_name,hotel_description,hotel_province,hotel_city,hotel_address,price_per_night,adults,children,rating_count,rating_mean,stay_duration,score
6,h0007,Evora Hotel Surabaya,Ketika bisnis dan kenyamanan sinergi di satu t...,Jawa Timur,Surabaya,"Jl. Menur 18 - 20, Surabaya, Indonesia",283000.0,1.5,0.5,10,9.04,1.6,8.705746
9,h0010,Neo+ Waru Sidoarjo by ASTON,"Pilihan akomodasi yang ideal untuk Pasangan, B...",Jawa Timur,Surabaya,"Jl. S. Parman No. 52-54, Waru, Sidoarjo, Surab...",293122.5,1.7,0.5,10,9.48,1.6,8.925746
15,h0016,Best Western Papilio Hotel,Welcome to Best Western Papilio Hotel!,Jawa Timur,Surabaya,"Jl. Ahmad Yani 176 - 178, Surabaya",305890.0,1.3,0.8,10,9.52,1.2,8.945746
10,h0011,favehotel Sidoarjo,Penginapan Yang Tenang Dan Nyaman di Sidoarjo.,Jawa Timur,Surabaya,"Jl. Jenggolo No. 15, Pucang, Kec. Sidoarjo, Ka...",447216.0,1.4,0.6,10,9.08,1.5,8.725746
24,h0032,Yello Hotel Jemursari,Sebuah hotel yang nyaman dan strategis di Sura...,Jawa Timur,Surabaya,"Jl. Raya Jemursari 176, Surabaya, Jawa Timur, ...",513000.0,1.5,0.4,10,9.28,1.3,8.825746

# Content Based Filtering

In [38]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
nltk.download('stopwords')
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory
from nltk.corpus import stopwords
import re
# import random

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [42]:
def join_feature(x):
    return ''.join(x['hotel_description']) + ' ' + ''.join(x['hotel_province']) + ' ' + ''.join(x['hotel_city']) + ' ' \
            + ''.join(x['hotel_address'])
# membuat soup menjadi 1 kolom
hotel['desc_all'] = hotel.apply(join_feature,axis=1)
hotel.head()

,hotel_id,hotel_name,hotel_description,hotel_province,hotel_city,hotel_address,price_per_night,adults,children,rating_count,rating_mean,stay_duration,score,desc_all
0,h0001,Midtown Residence Marvell City Surabaya,tidak ada deskripsi,Jawa Timur,Surabaya,Jalan Ngagel Raya No 123,527866.666667,1.6,0.4,5,9.20,1.4,8.647661,tidak ada deskripsi Jawa Timur Surabaya Jalan ...
1,h0002,favehotel Graha Agung Surabaya,Sebuah Hotel Mewah di Surabaya Persembahan dar...,Jawa Timur,Surabaya,Jl. Mayjen Yono Soewoyo Pakuwon Indah Square A...,442860.000000,1.3,0.5,10,8.32,1.3,8.345746,Sebuah Hotel Mewah di Surabaya Persembahan dar...
2,h0003,The Sun Hotel Sidoarjo,Hotel Bintang 3 Pertama dan Satu-satunya di Si...,Jawa Timur,Surabaya,"Jl. Pahlawan No.1,Sidokumpul, Sidoarjo, Suraba...",305000.000000,1.6,0.4,10,8.76,1.6,8.565746,Hotel Bintang 3 Pertama dan Satu-satunya di Si...
3,h0004,Grand Surabaya Hotel,Penginapan Yang Tenang Dan Nyaman Di Surabaya.,Jawa Timur,Surabaya,"Jl. Pemuda 19-21, Surabaya, Indonesia",324999.333333,1.5,0.5,10,8.52,1.3,8.445746,Penginapan Yang Tenang Dan Nyaman Di Surabaya....
4,h0005,The WIN Hotel Surabaya,WIN Hotel adalah hotel smart bintang 3 yang me...,Jawa Timur,Surabaya,"Jl. Embong Tanjung 46 - 48 Surabaya, Jawa Timu...",310947.250000,1.6,0.3,10,8.04,1.4,8.205746,WIN Hotel adalah hotel smart bintang 3 yang me...

In [43]:
clean_spcl = re.compile('[/(){}\[\]\|@,;] ')
clean_symbol = re.compile('[^0-9a-z #+_]')
factory = StopWordRemoverFactory()
stopword = factory.create_stop_word_remover()
stopworda = set(stopwords.words('english')) # set stopwords untuk bahasa inggris
# fungsi untuk membersihkan teks
def clean_text(text):
    text = str(text)
    text = text.lower() # lowercase text
    text = clean_spcl.sub(' ', text)
    text = clean_symbol.sub(' ', text)
    text = stopword.remove(text) # hapus stopword b. indonesia
    text = ' '.join(word for word in text.split() if word not in stopworda) # hapus stopword b.inggris
    return text
# apply fungsi ke tiap kolom fitur
hotel['desc_clean'] = hotel['desc_all'].apply(clean_text)
hotel.head()

,hotel_id,hotel_name,hotel_description,hotel_province,hotel_city,hotel_address,price_per_night,adults,children,rating_count,rating_mean,stay_duration,score,desc_all,desc_clean
0,h0001,Midtown Residence Marvell City Surabaya,tidak ada deskripsi,Jawa Timur,Surabaya,Jalan Ngagel Raya No 123,527866.666667,1.6,0.4,5,9.20,1.4,8.647661,tidak ada deskripsi Jawa Timur Surabaya Jalan ...,ada deskripsi jawa timur surabaya jalan ngagel...
1,h0002,favehotel Graha Agung Surabaya,Sebuah Hotel Mewah di Surabaya Persembahan dar...,Jawa Timur,Surabaya,Jl. Mayjen Yono Soewoyo Pakuwon Indah Square A...,442860.000000,1.3,0.5,10,8.32,1.3,8.345746,Sebuah Hotel Mewah di Surabaya Persembahan dar...,sebuah hotel mewah surabaya persembahan archip...
2,h0003,The Sun Hotel Sidoarjo,Hotel Bintang 3 Pertama dan Satu-satunya di Si...,Jawa Timur,Surabaya,"Jl. Pahlawan No.1,Sidokumpul, Sidoarjo, Suraba...",305000.000000,1.6,0.4,10,8.76,1.6,8.565746,Hotel Bintang 3 Pertama dan Satu-satunya di Si...,hotel bintang 3 pertama satu satunya sidoarjo ...
3,h0004,Grand Surabaya Hotel,Penginapan Yang Tenang Dan Nyaman Di Surabaya.,Jawa Timur,Surabaya,"Jl. Pemuda 19-21, Surabaya, Indonesia",324999.333333,1.5,0.5,10,8.52,1.3,8.445746,Penginapan Yang Tenang Dan Nyaman Di Surabaya....,penginapan tenang nyaman surabaya jawa timur s...
4,h0005,The WIN Hotel Surabaya,WIN Hotel adalah hotel smart bintang 3 yang me...,Jawa Timur,Surabaya,"Jl. Embong Tanjung 46 - 48 Surabaya, Jawa Timu...",310947.250000,1.6,0.3,10,8.04,1.4,8.205746,WIN Hotel adalah hotel smart bintang 3 yang me...,win hotel hotel smart bintang 3 menawarkan lay...

In [44]:
sastrawi = StopWordRemoverFactory()
stop = sastrawi.get_stop_words()

hotel['desc_clean'] = hotel['desc_clean'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
hotel.head()

,hotel_id,hotel_name,hotel_description,hotel_province,hotel_city,hotel_address,price_per_night,adults,children,rating_count,rating_mean,stay_duration,score,desc_all,desc_clean
0,h0001,Midtown Residence Marvell City Surabaya,tidak ada deskripsi,Jawa Timur,Surabaya,Jalan Ngagel Raya No 123,527866.666667,1.6,0.4,5,9.20,1.4,8.647661,tidak ada deskripsi Jawa Timur Surabaya Jalan ...,deskripsi jawa timur surabaya jalan ngagel ray...
1,h0002,favehotel Graha Agung Surabaya,Sebuah Hotel Mewah di Surabaya Persembahan dar...,Jawa Timur,Surabaya,Jl. Mayjen Yono Soewoyo Pakuwon Indah Square A...,442860.000000,1.3,0.5,10,8.32,1.3,8.345746,Sebuah Hotel Mewah di Surabaya Persembahan dar...,sebuah hotel mewah surabaya persembahan archip...
2,h0003,The Sun Hotel Sidoarjo,Hotel Bintang 3 Pertama dan Satu-satunya di Si...,Jawa Timur,Surabaya,"Jl. Pahlawan No.1,Sidokumpul, Sidoarjo, Suraba...",305000.000000,1.6,0.4,10,8.76,1.6,8.565746,Hotel Bintang 3 Pertama dan Satu-satunya di Si...,hotel bintang 3 pertama satu satunya sidoarjo ...
3,h0004,Grand Surabaya Hotel,Penginapan Yang Tenang Dan Nyaman Di Surabaya.,Jawa Timur,Surabaya,"Jl. Pemuda 19-21, Surabaya, Indonesia",324999.333333,1.5,0.5,10,8.52,1.3,8.445746,Penginapan Yang Tenang Dan Nyaman Di Surabaya....,penginapan tenang nyaman surabaya jawa timur s...
4,h0005,The WIN Hotel Surabaya,WIN Hotel adalah hotel smart bintang 3 yang me...,Jawa Timur,Surabaya,"Jl. Embong Tanjung 46 - 48 Surabaya, Jawa Timu...",310947.250000,1.6,0.3,10,8.04,1.4,8.205746,WIN Hotel adalah hotel smart bintang 3 yang me...,win hotel hotel smart bintang 3 menawarkan lay...

In [45]:
# #Membuat fungsi Stemming
# from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
# # from nltk.tokenize import sent_tokenize, word_tokenize

# def word_stemmer(text):
#     stem_text = [StemmerFactory().create_stemmer().stem(i) for i in text]
#     return stem_text
    
# hotel['desc_clean'] = hotel['desc_clean'].apply(lambda x: word_stemmer(x))
# hotel.head()

In [46]:
# import TF-IDF dan cosine similarity dari library sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
# membuat tfidf vectorizer
tf = TfidfVectorizer()
tf_matrix = tf.fit_transform(hotel['desc_clean'])
# membuat matriks similarity score untuk tfidf
tf_sim = cosine_similarity(tf_matrix,tf_matrix)
tf_sim

array([[1.        , 0.19101542, 0.22766994, ..., 0.01348712, 0.05309215,
        0.02157668],
       [0.19101542, 1.        , 0.24694575, ..., 0.01147165, 0.05891095,
        0.02115674],
       [0.22766994, 0.24694575, 1.        , ..., 0.02463803, 0.05270931,
        0.06450064],
       ...,
       [0.01348712, 0.01147165, 0.02463803, ..., 1.        , 0.31314514,
        0.41692748],
       [0.05309215, 0.05891095, 0.05270931, ..., 0.31314514, 1.        ,
        0.425938  ],
       [0.02157668, 0.02115674, 0.06450064, ..., 0.41692748, 0.425938  ,
        1.        ]])

In [50]:
# menjadikan nama hotel sebagai anchor index untuk input rekomendasi
indices = pd.Series(hotel.index, index=hotel['hotel_name']).drop_duplicates()
# base dataframe sebagai output rekomendasi
base = hotel.drop(columns=['desc_clean'])
def content_recommender():
    hotel = input('Nama Hotel : ')
    # mendapatkan index dari hotel yang disebutkan
    idx = indices[hotel]
    #menjadikan list dari array similarity tf sim
    sim_scores = list(enumerate(tf_sim[idx]))
    #mengurutkan film dari similarity tertinggi ke terendah
    sim_scores = sorted(sim_scores,key=lambda x:x[1],reverse=True)
    #untuk mendapatkan list hotel dimulai dari indeks ke 1 sampai ke 6
    sim_scores = sim_scores[1:6]
    #mendapatkan index dari nama hotel yang muncul di sim_scores dan mengurutkan berdasarkan harga
    hotel_indices = [i[0] for i in sim_scores]
    hotels = base.iloc[hotel_indices]
    hotels = hotels.sort_values(by = "price_per_night")
    #menambahkan informasi hotel yang menjadi input sebagai perbandingan
    hotels = hotels.append(base[base['hotel_name'] == hotel])
    #dengan menggunakan iloc, kita bisa panggil balik berdasarkan index dari hotel indices
    return hotels
content_recommender()

Nama Hotel : Smart Budget Hotel

,hotel_id,hotel_name,hotel_description,hotel_province,hotel_city,hotel_address,price_per_night,adults,children,rating_count,rating_mean,stay_duration,score,desc_all
81,h0273,Nozz Hotel,"Sebuah Hotel yang Nyaman, Lengkap, dan Terjang...",Jawa Tengah,Semarang,"Jl. Amarta Raya No.20, Semarang, Jawa Tengah, ...",235000.000000,1.5,0.6,10,7.40,1.7,7.885746,"Sebuah Hotel yang Nyaman, Lengkap, dan Terjang..."
74,h0265,F&B Inn Sam Poo Kong Bandara Semarang,Akomodasi yang nyaman dan modern di Semarang.,Jawa Tengah,Semarang,"Jl. Puspowarno Raya 47, Semarang Tengah, Semar...",255000.000000,1.4,0.6,10,8.32,1.6,8.345746,Akomodasi yang nyaman dan modern di Semarang. ...
89,h0336,Radja Art and Boutique Hotel,Penginapan Yang Tenang Dan Nyaman di Semarang.,Jawa Tengah,Semarang,"Jl. Singosari Raya No. IV, Semarang, Jawa Teng...",460815.600000,1.3,0.7,10,9.12,1.5,8.745746,Penginapan Yang Tenang Dan Nyaman di Semarang....
73,h0264,Louis Kienne Hotel Pandanaran,Penginapan tenang dan nyaman di Semarang,Jawa Tengah,Semarang,"Jl. Pandanaran No. 18, Semarang 50241, Indonesia",486850.000000,1.6,0.3,10,9.12,1.2,8.745746,Penginapan tenang dan nyaman di Semarang Jawa ...
83,h0277,Louis Kienne Hotel Pemuda,Penginapan tenang dan nyaman di Semarang,Jawa Tengah,Semarang,"Jl. Pemuda No. 46-51, Semarang, Indonesia",656666.666667,1.6,0.3,10,8.44,1.7,8.405746,Penginapan tenang dan nyaman di Semarang Jawa ...
79,h0270,Smart Budget Hotel,Penginapan Yang Tenang Dan Nyaman di Semarang,Jawa Tengah,Semarang,"Jl. Hasanudin Raya (Tanah Mas), Semarang Utara...",200000.000000,1.5,0.5,10,8.56,1.7,8.465746,Penginapan Yang Tenang Dan Nyaman di Semarang ...